<nav class="site-nav">
    <div class="site-nav-left">
        {% if page.current != 'home' %}
            {% if site.logo %}
                <a class="site-nav-logo" href="{{ site.url }}{{ site.baseurl }}"><img src="{{ site.baseurl}}{{ site.logo }}" alt="{{ site.title }}" /></a>
            {% else %}
                <a class="site-nav-logo" href="{{ site.url }}{{ site.baseurl }}">{{ site.title }}</a>
            {% endif %}
        {% endif %}
        {% if page.navigation %}
            {% include navigation.html %}
        {% endif %}
    </div>
    <div class="site-nav-right">
        {% assign language_url = '/en/' %}
        {% assign language_label = 'EN' %}
        {% if page.path contains 'en/' %}
            {% assign language_url = '/' %}
            {% assign language_label = '한국어' %}
            {% if page.path contains 'en/about/' %}
                {% assign language_url = '/about/' %}
            {% elsif page.path contains 'en/portfolio/' %}
                {% assign language_url = '/portfolio/' %}
            {% endif %}
        {% else %}
            {% if page.path contains 'about/' %}
                {% assign language_url = '/en/about/' %}
            {% elsif page.path contains 'portfolio/' %}
                {% assign language_url = '/en/portfolio/' %}
            {% endif %}
        {% endif %}
        <a class="language-switch" href="{{ language_url }}">{{ language_label }}</a>
        <div class="social-links">
            {% if site.facebook %}
            <a class="social-link social-link-fb"
               href="https://facebook.com/{{ site.facebook }}"
               target="_blank"
               rel="noopener">{% include facebook.html %}</a>
            {% endif %}
            {% if site.twitter %}
            <a class="social-link social-link-tw"
               href="https://twitter.com/{{ site.twitter }}"
               target="_blank"
               rel="noopener">{% include twitter.html %}</a>
            {% endif %}
        </div>
        {% if site.subscribers %}
        <a class="subscribe-button" href="#subscribe">Search</a>
        {% endif %}
    </div>
</nav>
