<nav class="site-nav">
    <div class="site-nav-left">
        {% unless page.navigation == false %}
            {% include navigation.html %}
        {% endunless %}
    </div>
    <div class="site-nav-right">
        {% assign ko_url = '/' %}
        {% assign en_url = '/en/' %}
        {% if page.path contains 'en/' %}
            {% if page.path contains 'en/about/' %}
                {% assign ko_url = '/about/' %}
                {% assign en_url = '/en/about/' %}
            {% elsif page.path contains 'en/portfolio/' %}
                {% assign ko_url = '/portfolio/' %}
                {% assign en_url = '/en/portfolio/' %}
            {% endif %}
        {% else %}
            {% if page.path contains 'about/' %}
                {% assign ko_url = '/about/' %}
                {% assign en_url = '/en/about/' %}
            {% elsif page.path contains 'portfolio/' %}
                {% assign ko_url = '/portfolio/' %}
                {% assign en_url = '/en/portfolio/' %}
            {% endif %}
        {% endif %}
        <div class="language-switcher" aria-label="Language selector">
            <a class="language-option {% unless page.path contains 'en/' %}is-active{% endunless %}" href="{{ ko_url }}" data-language-switch data-target-lang="ko">{% if page.path contains 'en/' %}KO{% else %}한국어{% endif %}</a>
            <a class="language-option {% if page.path contains 'en/' %}is-active{% endif %}" href="{{ en_url }}" data-language-switch data-target-lang="en">EN</a>
        </div>
        <div class="social-links">
            {% if site.facebook %}
            <a class="social-link social-link-fb"
               href="https://facebook.com/{{ site.facebook }}"
               target="_blank"
               rel="noopener">{% include facebook.html %}</a>
            {% endif %}
            {% if site.twitter %}
            <a class="social-link social-link-tw"
               href="https://twitter.com/{{ site.twitter }}"
               target="_blank"
               rel="noopener">{% include twitter.html %}</a>
            {% endif %}
        </div>
        {% if site.subscribers %}
        <a class="subscribe-button" href="#subscribe">Search</a>
        {% endif %}
    </div>
</nav>
